@import './fonts.css';

/* 
   ////////////////////////////////////////// 
   /                                        /
   /   #  GLOBAL AND RESET STYLES   #       /
   /                                        /   
   //////////////////////////////////////////
*/
/* #cecdd5 color of contact background without image, #2F2E2E font color, rgba(110, 105, 104, 0.5) #6e6968 border  ---- REMINDER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   / #SCROLL TO TOP OF PAGE BUTTON STYLES # /
   /                                        /   
   //////////////////////////////////////////
*/

.btn-scrollTop {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b03737;
  color: #fff;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  transition: 0.3s;
}

.btn-scrollTop__icon {
  font-size: 2.3rem;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   /   # HEADER AND NAVIGATION STYLES #     /
   /                                        /   
   //////////////////////////////////////////
*/

.header {
  background-color: #2f2e2e;
  height: 80px;
  width: 100%;
}

.navigation {
  background-color: #2f2e2e;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: all 0.5s;
  transition-timing-function: linear;
  z-index: 100;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding-top: 50px;
}

.navigation-list__item {
  height: 40px;
  width: 100vw;
  margin-bottom: 5px;
  text-align: center;
}

.navigation-list__link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list__link:active,
.navigation-list__link:hover {
  color: #c58383;
}

.navigation-list__item:last-of-type {
  margin-top: 25px;
}

.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  height: 80px;
  max-width: 100px;
}

.header-social__link {
  color: white;
  width: 28%;
  margin-right: 10px;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 0;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 200;
}

.hamburger {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 25px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
  content: '';
  background: #fff;
  position: absolute;
  width: 25px;
  height: 3px;
  transition: 0.5s;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

@media screen and (min-width: 800px) {
  .header-social,
  .menu-toggle {
    display: none;
  }

  .header {
    height: auto;
  }

  .navigation {
    position: absolute;
    transform: translateX(0%);
    height: auto;
    bottom: unset;
    padding: 15px 0;
  }

  .navigation-list {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;
    width: 65%;
    margin: 0 auto;
  }

  .navigation-list__item {
    flex-grow: 1;
    margin-right: 7px;
    width: auto;
  }

  .navigation-list__item:last-of-type {
    display: none;
  }

  .navigation-list__link {
    font-size: 17px;
    line-height: 1.5rem;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1000px) {
  .navigation-list {
    width: 50%;
  }
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   / # STYLES WHEN NAVIGATION IS SHOWN #    /
   /                                        /   
   //////////////////////////////////////////
*/

.menu-active .navigation {
  width: 100vw;
  height: 100vh;
  transform: translateX(0%);
  transition: all 0.5s ease-out;
  z-index: 90;
}

.menu-active .hamburger {
  background-color: rgba(0, 0, 0, 0);
}

.menu-active .hamburger::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-active .hamburger::after {
  top: 0;
  transform: rotate(135deg);
}

/* 
   /////////////////////////////////////// 
   /                                     /
   /    #   HOME SECTION STYLES  #       /
   /                                     /   
   ///////////////////////////////////////
*/

.home {
  background-image: url(../assets/pictures/home-sm.jpg);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
}

.home-icon {
  border: 4px solid #fff;
  border-radius: 50%;
  margin-top: -50px;
}

.home-icon__image {
  color: #fff;
  height: 150px;
  width: 150px;
  margin: -15px;
}

.home__main-heading {
  color: white;
  font-family: 'Helvetica Neue Medium', sans-serif;
  font-size: 2.4rem;
  line-height: 40px;
  letter-spacing: 1px;
  padding-top: 20px;
  text-shadow: 2px 2px 5px gray;
}

.home__secondary-heading {
  color: white;
  font-family: 'Helvetica Neue Thin', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-top: 5px;
}

.home-social {
  display: none;
}

@media screen and (orientation: landscape) and (min-width: 800px) {
  .home {
    background-image: url(../assets/pictures/home-min.jpg);
    margin-top: 75px;
    height: calc(100vh - 75px);
  }

  .home-icon {
    margin-top: 10px;
  }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  .home {
    height: calc(100vh - 80px);
  }

  .home-icon {
    margin-top: 0;
  }

  .home-icon__image {
    margin: -5px;
    height: 130px;
    width: 130px;
  }
}

@media screen and (min-width: 900px) {
  .home {
    background-attachment: fixed;
    background-size: cover;
    height: 120vh;
    margin-top: 0;
  }

  .home-icon {
    margin-top: -30vh;
  }

  .home-social {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
    position: absolute;
    bottom: -100px;
  }

  .home-social__link {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    color: #222;
    width: 50px;
    height: 50px;
    padding: 10px 0;
    margin-right: 15px;
    text-align: center;
  }
}

/* 
   /////////////////////////////////////// 
   /                                     /
   /   #  SERVICES SECTION STYLES #      /
   /                                     /   
   ///////////////////////////////////////
*/

.services {
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.services__heading {
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}

.services__heading::after {
  content: '';
  display: block;
  background-color: #fff;
  margin: 20px auto;
  height: 3px;
  width: 35px;
}

.services-item {
  margin: 3em auto;
  width: 80%;
}

.services-item__image {
  display: block;
  margin: 0 auto;
  width: 90px;
}

.services-item__image-lg {
  width: 110px;
}

.services-item__heading {
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Helvetica Neue Thin', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  max-width: 200px;
}

.services-item__info {
  color: #fff;
  font-family: 'Helvetica Neue Light', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 700px) {
  .services-wrap {
    display: flex;
    justify-content: space-around;
  }

  .services-item {
    width: 30%;
  }

  .services-item:nth-of-type(2) {
    margin-top: 1.8em;
  }

  .services-item__heading {
    width: 100%;
  }

  .services-item__info {
    font-size: 1rem;
    font-weight: 100;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding: 60px 0 100px 0;
  }

  .services-wrap {
    margin: 0 auto;
    width: 70%;
  }
}

/* 
   /////////////////////////////////////// 
   /                                     /
   /   #  OUR WORK SECTION STYLES #      /
   /                                     /   
   ///////////////////////////////////////
*/

.work {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 100%;
}

.work__heading {
  color: #2f2e2e;
  font-family: 'Helvetica Neue';
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}

.work__heading::after {
  content: '';
  display: block;
  background-color: #000;
  margin: 20px auto;
  height: 3px;
  width: 35px;
}

.work-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
  width: 100%;
}

.work-item {
  position: relative;
  z-index: 1;
}

.work-item__image {
  display: block;
  max-width: 100%;
}

.work-item__description {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  z-index: 90;
  transition: opacity 0.4s ease-in;
}

.work-item:hover .work-item__description {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.work-item__description-heading {
  font-family: 'Helvetica Neue Thin';
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.work-item__description-text {
  font-family: 'Helvetica Neue Thin';
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
}

.work-item__expand {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  right: 20px;
  bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .work {
    padding: 60px 0 120px 0;
  }
}

@media screen and (min-width: 1300px) {
  .work {
    width: 95%;
    margin: 0 auto;
  }

  .work-item {
    width: 33%;
  }

  .work-item__image {
    width: 100%;
  }
}
/* 
   ////////////////////////////////////////// 
   /                                        /
   /    #  ABOUT SECTION STYLES   #         /
   /                                        /   
   //////////////////////////////////////////
*/

.about {
  background-color: #cecdd5;
  background-image: url('../assets/pictures/toolsbackground.webp');
  padding: 15% 0;
}

.about__wrap {
  background-color: white;
  width: 300px;
  min-width: 60%;
  margin: 0 auto;
  padding: 30px 10px;
}

.about__heading {
  color: #2f2e2e;
  font-family: 'Helvetica Neue';
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.about__heading::after {
  content: '';
  display: block;
  background-color: #000;
  margin: 20px auto;
  height: 3px;
  width: 35px;
}

.about__text {
  color: #000;
  font-family: 'Helvetica Neue Thin';
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant-caps: normal;
  letter-spacing: 1px;
  line-height: 1.4rem;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  max-width: 85%;
}

@media screen and (min-width: 800px) {
  .about__wrap {
    padding: 50px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrap {
    padding: 70px 25px;
    width: 45%;
  }
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   /    #  PARALLAX SECTION STYLES   #         /
   /                                        /   
   //////////////////////////////////////////
*/

.parallax {
  height: 30vh;
  width: 100%;
  background-color: #222;
  background-image: url('../assets/pictures/garage-sm.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .parallax {
    background-image: url('../assets/pictures/garage.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
  }
}

@media screen and (orientation: landscape) {
  .parallax {
    height: 60vh;
    background-position: middle center;
  }
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   /    #  CONTACT SECTION STYLES   #       /
   /                                        /   
   //////////////////////////////////////////
*/

.contact {
  background-color: #cecdd5;
  background-image: url('../assets/pictures/toolsbackground.webp');
  padding-top: 40px;
  padding-bottom: 80px;
}

.contact img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.contact__heading {
  color: #2f2e2e;
  background-color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 300px;
  min-width: 50%;
}

.contact__heading::after {
  content: '';
  display: block;
  background-color: #000;
  margin: 0 auto;
  margin-top: 20px;
  height: 3px;
  width: 35px;
}

.contact__wrap {
  background-color: white;
  width: 300px;
  min-width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}

.contact__info {
  margin: 0 auto;
  width: 85%;
}

.address {
  font-style: normal;
}

.contact__info-item {
  margin: 15px 0;
  font-family: 'Helvetica Neue Light';
  font-size: 1rem;
  font-weight: 500;
  color: #2f2e2e;
}

.contact__info-heading {
  margin: 20px 0;
  font-family: 'Helvetica Neue Light';
  font-weight: 400;
  font-size: 1.5rem;
  color: #222;
}

.contact__form-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.input {
  border: 1px solid #2f2e2e;
  background-color: #fff;
  color: #6e6968;
  font-size: 15px;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px 0 5px 5px;
  outline: none;
}

.input-label {
  color: #2f2e2e;
  font-family: 'Helvetica Neue Thin Condensed';
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.input-label abbr {
  color: #ff4040;
  font-size: 1.15rem;
  font-weight: 600;
  padding-right: 2px;
  text-decoration: none;
}

.textarea {
  border: 1px solid #2b2929;
  color: #6e6968;
  font-size: 1.1rem;
  letter-spacing: 1px;
  resize: none;
  overflow: auto;
  padding: 5px;
  text-align: left;
  outline: none;
}

.input:focus,
.textarea:focus {
  border: 1px solid #c4c4c4;
  outline: 0;
}

.btn-submit {
  background-color: #2f2e2e;
  border: 1px solid #2f2e2e;
  color: #fff;
  cursor: pointer;
  font-family: 'Helvetica Neue Roman';
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 8px 10px;
  margin-top: 10px;
  transition: opacity 0.2s ease-in;
}

.btn-submit:hover {
  opacity: 0.8;
}

.input--invalid {
  border: 2px solid #ff4040;
  outline: none;
}

@media screen and (min-width: 900px) {
  .contact__heading {
    padding-top: 50px;
    min-width: 60%;
  }

  .contact__wrap {
    display: flex;
    justify-content: center;
    padding: 40px 20px 60px 20px;
    min-width: 60%;
  }

  .contact__info {
    margin: 0;
    width: 50%;
  }

  .contact__form {
    width: 50%;
  }

  .input,
  .textarea {
    width: 100%;
  }
}

/* 
   ////////////////////////////////////////// 
   /                                        /
   /    #  FOOTER SECTION STYLES   #        /
   /                                        /   
   //////////////////////////////////////////
*/

.footer {
  background-color: #2f2e2e;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
}

.footer-social {
  display: none;
}

.footer-social__link {
  color: #fff;
  width: 28%;
  margin-right: 10px;
  text-decoration: none;
}

.footer-item {
  color: #fff;
  font-family: 'Helvetica Neue Thin Extended';
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2rem;
  margin-top: 5px;
  text-align: center;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
}
.footer-item a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .footer {
    display: block;
    text-align-last: center;
    padding: 50px 30px;
  }

  .footer-social {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;
  }

  .footer-item {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
  }
}
